@model Technician
@{
    ViewBag.Title = "Get Technician";
    Layout = "_Layout";
}

<h1>Techniian</h1>
<form asp-action="List" method="post">
    <select asp-for="TechnicianId" class="form-select"
            asp-items="@(new SelectList(ViewBag.Technicians, "TechnicianId", "TechnicianName"))">
        <option value="0">Select a Technician...</option>
    </select>
    <button type="submit" class="btn btn-outline-primary mt-2">Select</button>
</form>